header {
    background-color: #2f3b7f;
    padding: 15px 0;
    
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 26px;
    margin: 0;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    font-family: sans-serif;
}

nav a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #FFF5EE;
    bottom: 0;
    left: 0;
    transition: width 0.25s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

nav a.active {
    font-weight: bold;
}

.banner {
  background-image: url('Banner.png');
  background-size: cover;  
  background-position: center;   
  height: 250px; 
  display: flex;
  align-items: center;      
  justify-content: center;  
  color: white;        
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5); 
}
